header {
    padding: 20px;
    background: transparent;
    position: absolute; 
    top: 0;
    left: var(--profile-sidebar-width); 
    width: var(--main-content-width);  
    z-index: 100; 
    display: flex;
    align-items: center;
    justify-content: center; 
}


.main-nav {
    list-style: none;
    display: inline-flex;
    padding: 5px 15px 5px 15px;  
    margin-left: 0;
}

.main-nav li {
    margin: 0;
}

.main-nav a {
    display: block;
    padding: 10px 25px;
    color: white;
    font-family: 'BebasKai', sans-serif;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background: rgba(255, 255, 255, 0.148);  
    border-radius: 50px; 
    border: 1px solid white;  
}

.main-nav a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--text-color);
}


@media (max-width: 768px) {
    header {
        min-height: var(--header-fixed-height-mobile);
        justify-content: center;
        margin-left: 0;
        left: 0;
        width: 100%; /* Full width for mobile header */
        position: relative; /* Change to relative or static for mobile stacking */
    }
    .main-nav {
        flex-direction: column;
        border-radius: 15px;
        padding: 10px;
        margin-left: 0;
    }

    .main-nav li {
        margin: 5px 0;
    }

    .main-nav a {
        padding: 12px 20px;
        background: rgba(255, 255, 255, 0.148);  /* Added */
        border-radius: 15px;  /* Adjusted for mobile */
        border: 1px solid white;  /* Added */
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    .main-nav a {
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.148);  /* Added */
    border-radius: 15px;  /* Adjusted for mobile */
    border: 1px solid white;  /* Added */
}
}